@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.material-symbols-outlined{
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
  font-size: 28px;          /* tamaño del icono */
  line-height: 1;
  display: inline-flex;
  vertical-align: middle;
  color: var(--text);       /* o var(--muted) si prefieres */
}
/* Variantes útiles */
.ms-filled   { font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 24; }
.ms-lg       { font-size: 24px; }
.ms-muted    { color: var(--muted); }

select.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none !important;
}

/* IE/Edge Legacy (por si acaso) */
select.appearance-none::-ms-expand {
  display: none;
}

:root{
  --primary:#0A84FF;
  --primary-contrast:#fff;
  --bg:#0F1115;
  --surface:#151922;
  --text:#EDEFF6;
  --muted:#8B90A0;
  --success:#16A34A;
  --warning:#F59E0B;
  --border:#232736;
}
html,body,#root{height:100%;}
body{ background:var(--bg); color:var(--text); font-family: Inter, system-ui, sans-serif; }
.container{ max-width:1280px; }
h1,h2,h3,.heading{ font-family: Manrope, Inter, system-ui, sans-serif; }
@layer components {
  .glass {
    background: linear-gradient(180deg, rgba(255,255,255,.04), rgba(255,255,255,.02));
    backdrop-filter: blur(8px);
    border: 1px solid var(--border);
    border-radius: 20px;
  }
  .overlay-gradient { position:absolute; inset:0; background:linear-gradient(180deg,rgba(0,0,0,0) 30%,rgba(0,0,0,.55) 100%); pointer-events:none; }
}
